:root {
    --dark-color: #19283f;
    --green-color:#33d1cc;
    --red-color:#ff3150;
    --yellow-clor:#ffc400;
    --section-color:#eff7fa;
}


body {
    font-family: 'Roboto', sans-serif;
    

}
.main-btn {
background-color: var(--red-color);
color: var(--yellow-clor);
padding: 0.5rem 1rem;
}
.main-btn:hover {
    background-color: var(--green-color);
}
/*start navbar*/
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus ,
.navbar .navbar-nav .nav-link:hover {
color: var(--green-color);
}
.search {
border-left: 1px solid var(--green-color) ;
}
.search svg {
    color: var(--green-color);
    padding: 10px;
}
.navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
    color: var(--green-color);
}
/*end navbar*/
/*start landing*/
.landing {
    background-color: var(--dark-color);
   min-height: 100vh;
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/*end landing*/
/*start features*/
.features .feat .icon-holder {
    height: 200px;
}
.features .feat.icon-holder .svg  {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
color: var(--section-color);
}
.features  .icon-holder .icon {
    color: var(--green-color);

}
.features  h4 {
    color: var(--yellow-clor);
}
/*end features*/
/*start our work*/
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-clor);

}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #19283fc4 ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--section-color);
    transition: 0.3s;
    font-size: 2rem;
    transform:translateX(-100%) ;
    

}
.our-work .box:hover::before {
    transform:translateX(0) ; 
}

/*end our work*/
/*start stuff */

.stuff .description{
    max-width: 500px;
}
/*end stuff */
/*start team */
.team {
    background-color: var(--section-color);
}
.team h3 {
    color: var(--yellow-clor);
    font-weight: bold;

}
.team p {
   max-width: 800px; 
}
.team h4 {
    color: var(--section-color);
    background-color: var(--green-color);
}
.team .box {
    height: 350px;
}
/*end team */
/*start project*/
.project {
    background-color: var(--dark-color);
   
}
/*end project*/
/*mail*/
input[name="email"] {
    border: none;
    border-bottom: 1px solid white;
}
input::placeholder {
    color: white;
}
input[name="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-clor);
}
input[name="submit"]:focus {
    outline: none;
}
    .mail {
        background-color: var(--yellow-clor);
    }
/*footer*/
footer {
    background-color: var(--dark-color);
    color: var(--section-color);
}
footer ul li:hover {
   color: var(--green-color);
}
footer .main-btn {
    background-color: var(--red-color);
    color: var(--section-color);
   
    
}
footer .icons .facebook {
color: #1877f2;
background-color: white;
}
footer .icons .twitter {
  color: #1da1f2;  
  background-color: white;
}
footer .icons .google-plus  {
color: #dd4b39;
background-color: white;
}
footer .icons .dribbble {
color: #ea4c89;
background-color: white;
}
